/* Estilos para el sidebar */
#sidebar {
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: -250px;
    width: 250px;
    background-color: #f8f9fa;
    transition: all 0.3s;
    z-index: 1050;
    overflow-y: auto;
}

#sidebar.active {
    left: 0;
}

#sidebarToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

#sidebarToggle.active {
    transform: rotate(90deg);
    background-color: #e9ecef;
}

.main-content {
    margin-left: 0;
    padding: 20px;
    transition: all 0.3s;
    margin-top: 56px;
}

@media (min-width: 768px) {
    #sidebar {
        left: 0;
    }

    .main-content {
        margin-left: 250px;
    }

    #sidebarToggle {
        display: none;
    }

    body {
        background-color: rgb(241, 241, 243)
    }
}

/* Estilos para los enlaces del sidebar */
#sidebar .nav-link {
    color: rgb(45, 45, 46); /* Color del texto por defecto */
    padding: 10px 15px; /* Espaciado interno */
    transition: background-color 0.1s, color 0.1s; /* Transición suave */
}

/* Cambia el color de fondo y el color del texto cuando el ratón pasa sobre el enlace */
#sidebar .nav-link:hover {
    background-color: #e2e2e5; /* Color de fondo al pasar el ratón */
}